<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hernanbosqued.movie_db_client.repo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:exported="false"
            android:enabled="true"
            android:authorities="{$applicationId}}.ContextContentProvider"
            android:name="com.hernanbosqued.mobile-db-client.repo.ContextContentProvider"/>
    </application>
</manifest>